/*-------------- breadcrumb -----------------*/
.breadcrumb{
	&,
	&__item{
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&{
		display: flex;
		flex-wrap: wrap;
		margin: 28px 0 67px;
	}

	&__item{
		@include font(normal, 500, 1.2rem, 1.2, $color-text);
		text-decoration: none;
	}

	&__item a{color: $color-turquoise;}

	&__item:not(:last-child):after{
		content: '>';
		margin: 0 6px;
	}
}

@media (max-width: 767px) {
	.breadcrumb{margin-bottom: 30px;}
}