/*-------------- diagnosis -----------------*/
.diagnosis-wrap{
	.event-add,
	.gallery-wrap{margin-top: 106px;}
}

.diagnosis{
	.h1, h1{
		letter-spacing: 0.4px;
		margin-bottom: 34px;
	}

	&__layuot{
		display: flex;
		justify-content: space-between;
	}

	&__content{
		width: 50%;
		font-size: 1.4rem;
		line-height: 1.7;

		.faq{
			display: block;
			&::after{display: none;}
			&__main{width: 100%;}
			&__main .faq__head{display: flex;}

			&__content{
				max-width: none;
				margin-top: 0;
				padding-top: 30px;
			}
		}
	}

	&__sidebar{
		width: calc(50% - 110px);
		padding-top: 12px;

		.event-calendar,
		.card-person{
			margin-bottom: 106px;
		}

		.event-calendar{
			padding-bottom: 67px;
			&__more{margin-top: 50px;}
		}
	}

	& + .event-add,
	& + .gallery-wrap{margin-top: 0;}
}

.note{
	background: $color-blue;
	border-radius: 5px;
	padding: 46px 50px 58px;
	@include font(normal, 500, 1.4rem, 1.7, #fff);
	margin: 60px 0;

	&__title{
		font-family: $font-lora;
		font-weight: bold;
		font-size: 3rem;
		line-height: 1.2;
		margin-bottom: 32px;
	}

	&__text{
		p:last-child{margin-bottom: 0;}
	}

	& + .history{margin-top: 85px;}

	&_beige{
		background: $color-beige;
		color: $color-text;
	}

	&_beige &__title{color: $color-dark-blue;}
}

.history{
	.h2, h2{margin-bottom: 40px;}

	&__list{
		margin-left: 15px;
		position: relative;
	}

	&__list::before{
		content: '';
		display: inline-block;
		width: 1px;
		height: 100%;
		border-left: 3px dashed #a4c2e6;
		position: absolute;
		top: 0;
		left: 0;
	}

	&__item{position: relative;}

	&__item:last-child::before{
		content: '';
		display: inline-block;
		width: 6px;
		height: 100%;
		background: #fff;
		position: absolute;
		top: 0;
		left: -4px;
	}

	&__content{
		position: relative;
		padding-left: 75px;
	}

	&__content::before{
		content: '';
		display: inline-block;
		height: 1px;
		width: 75px;
		border-bottom: 3px dashed #a4c2e6;
		position: absolute;
		top: 15px;
		left: 0;
	}

	&__content::after{
		content: '';
		display: inline-block;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: #a4c2e6;
		border: 3px solid $color-blue;
		position: absolute;
		top: 0;
		left: -15px;
	}

	&__item:not(:last-child){padding-bottom: 65px;}

	&__title{
		font-family: $font-lora;
		@include font(normal, bold, 2.4rem, 1.2, $color-dark-blue);
		margin-bottom: 38px;
	}

	&__text{
		max-height: 75px;
		@include font(normal, 500, 1.6rem, 1.5, $color-text);
	}

	.more-link{font-size: 1.6rem;}

	&__list_full{
		margin-left: 0;
	}

	&__list_full::before{left: 50%;}

	&__list_full &__item{
		width: 50%;
		margin-left: 50%;
	}

	&__list_full &__item &__content{padding-right: 20px;}
	&__list_full &__item_left{margin-left: 0;}

	&__list_full &__item_left &__content{
		padding-left: 0;
		padding-right: 75px;
	}

	&__list_full &__item_left &__content::before{
		left: auto;
		right: 0;
	}

	&__list_full &__item_left &__content::after{
		left: auto;
		right: -15px;
	}

	&__res{
		background: $color-light-grey;
		border-radius: 5px;
		padding: 54px 57px 60px;
		@include font(normal, 500, 1.6rem, 1.5, $color-text);
		position: relative;

		p{line-height: 1.5;}
		p:last-child{margin-bottom: 0;}
	}
}

.history-gal{
	display: flex;
	flex-wrap: wrap;
	margin: 38px -5px 0;

	&__item{
		display: block;
		padding: 10px;
		margin: 5px;
		position: relative;
		text-align: center;
		cursor: zoom-in;

		img{position: relative;}
	}

	&__item::before{
		content: '';
		display: inline-block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	&__item:nth-child(4n+1){background: url(../img/bg-docs1.png) center no-repeat; background-size: contain;}
	&__item:nth-child(4n+2){background: url(../img/bg-docs2.png) center no-repeat; background-size: contain;}
	&__item:nth-child(4n+3){background: url(../img/bg-docs3.png) center no-repeat; background-size: contain;}
	&__item:nth-child(4n+4){background: url(../img/bg-docs4.png) center no-repeat; background-size: contain;}
}

.history-bottom{
	display: inline-flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 44px;

	&__title{
		max-width: 50%;
		font-family: $font-lora;
		@include font(normal, bold, 3rem, 1.2, $color-dark-blue);
		letter-spacing: 0.3px;
		margin-right: 60px;
	}
}

.person-history{
	padding-bottom: 114px;
	border-bottom: 3px dashed $color-light-grey;

	&:not(:last-child){margin-bottom: 105px;}
}

.person-h-top{
	margin-bottom: 80px;

	h1, .h1{
		letter-spacing: 0.4px;
		margin-bottom: 37px;
	}

	&,
	p{line-height: 1.5;}

	&__img{max-width: 522px;}
}

.card-person{
	background: $color-beige;
	border-radius: 5px;
	padding: 55px 50px;

	&__title{
		font-family: $font-lora;
		@include font(normal, bold, 2.4rem, 1.2, $color-dark-blue);
		margin-bottom: 40px;
	}

	&__img{
		max-width: 200px;
		float: right;
		margin: 0 -20px 10px 10px;
	}

	&__info{
		@include font(normal, 500, 1.4rem, 1.5, $color-dark-blue);
		p{line-height: 1.5;}
		p + .btn{margin-top: 8px;}
	}

	&__name{
		font-size: 1.8rem;
		font-weight: 900;
		line-height: 1.2;
	}

	p.card-person__name{line-height: 1.2;}
}

.card-info{
	background: #f0f3f6;
	border-radius: 5px;
	padding: 55px 50px;

	&__title{
		font-family: $font-lora;
		@include font(normal, bold, 2.4rem, 1.2, $color-dark-blue);
		margin-bottom: 32px;
	}

	&__text{
		@include font(normal, 500, 1.6rem, 1.5, $color-text);

		p{line-height: 1.5;}
		p:last-child{margin-bottom: 0;}
		ul li::marker{color: $color-text;}
		li{margin-bottom: 6px;}
		ul, ol{margin-bottom: 30px;}
	}

	&__more{margin-top: 15px;}

	&__bottom{
		padding: 37px 50px 0;
		margin-left: -50px;
		margin-right: -50px;
		border-top: 3px dashed #fff;

		.btn:not(:last-child){margin-bottom: 60px;}
	}
}

@media (max-width: 1279px) {
	.diagnosis{
		&__sidebar{width: calc(50% - 30px);}
	}
}

@media (max-width: 991px) {
	.diagnosis{
		&__layuot{display: block;}

		&__content,
		&__sidebar{
			width: 100%;
		}

		&__sidebar{
			padding-top: 0;

			.card-person,
			.event-calendar{margin-bottom: 60px;}
		}
	}

	.note{
		margin: 40px 0;
		& + .history{margin-top: 60px;}
	}

	.history{
		&__list_full &__content{
			padding-left: 40px;
			padding-right: 10px;
		}

		&__list_full &__item_left &__content{
			padding-left: 0;
			padding-right: 40px;
		}

		&__list_full &__content::before{width: 40px;}
	}
}

@media (max-width: 767px) {
	.note{
		padding: 20px 15px 25px;
		&__title{font-size: 2.4rem;}
	}

	.history{
		margin-bottom: 40px;

		&__content{padding-left: 40px;}
		&__content::before{width: 40px;}
		&__list{margin-left: 5px;}

		&__text,
		.more-link{
			font-size: 1.4rem;
		}

		&__text{max-height: 62px;}

		&__title{
			font-size: 2rem;
			margin-bottom: 20px;
		}

		&__content::after{
			width: 20px;
			height: 20px;
			top: 5px;
			left: -10px;
		}

		&__item:not(:last-child){padding-bottom: 40px;}

		&__item:last-child::before{
			height: calc(100% + 5px);
			left: -2px;
		}

		&__list::before{top: 5px;}
		&__list_full::before{left: 0;}

		&__list_full &__item{
			width: auto;
			margin-left: 0;
		}

		&__list_full &__item &__content{
			padding-left: 40px;
			padding-right: 0;
		}
	
		&__list_full &__item_left &__content::before{
			right: auto;
			left: 0;
		}
	
		&__list_full &__item_left &__content::after{
			right: auto;
			left: -10px;
		}

		&__res{padding: 20px 20px 25px;}
	}

	.history-bottom{
		display: block;

		&__title{
			font-size: 2.4rem;
			max-width: none;
			margin: 0 0 20px 0;
		}
	}

	.person-history{
		padding-bottom: 10px;
		&:not(:last-child){margin-bottom: 40px;}
	}

	.diagnosis-wrap{
		.gallery-wrap{margin-top: 40px;}
	}

	.diagnosis{
		.faq-wrap{
			.h2, h2{margin-bottom: 30px;}
		}

		&__sidebar{
			.card-person,
			.event-calendar{margin-bottom: 40px;}
		}
	}
	
	.card-person{
		padding: 20px 20px 25px;

		&__img{
			max-width: 150px;
			float: none;
			margin: 0 auto 20px;
		}
	}

	.card-info{
		padding: 20px 20px 25px;
		&__bottom .btn:not(:last-child){margin-bottom: 30px;}
	}

	.person-h-top{
		margin-bottom: 30px;

		&__img{
			max-width: 250px;
			margin: 0 auto 30px;
		}
	}
}