/*-------------- events-list -----------------*/
.events{
	.events-list{padding-right: 85px;}

	.form-site{
		h2, .h2{
			line-height: 1.2;
			margin-bottom: 80px;
		}
	}
}

.events-item{
	background: $color-beige;
	border-radius: 5px;

	&:not(:last-child){margin-bottom: 105px;}

	&__top{
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		padding: 42px 52px 45px;

		.calendar-paper{
			flex: 0 0 68px;
			margin-left: 30px;
			margin-top: 7px
		}
	}

	&__title{
		font-family: $font-lora;
		@include font(normal, bold, 2.1rem, 1.2, $color-dark-blue);
	}

	&__content{
		padding: 40px 50px 70px;
		border-top: 3px dashed #fff;
	}

	&__text{
		@include font(normal, normal, 1.6rem, 1.5, $color-text);
		p:last-child{margin-bottom: 0;}
	}

	.btn{
		min-width: 177px;
		margin-top: 42px;
	}
}

.events-small-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: -32px;
	margin-right: -32px;

	.events-small{
		width: calc(50% - 64px);
		margin-left: 32px;
		margin-right: 32px;
	}
}

.events-small{
	padding: 49px 52px 45px;
	margin-top: 32px;
	margin-bottom: 32px;
	background: $color-beige;
	border-radius: 5px;

	&__content{
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	.calendar-paper{
		flex: 0 0 68px;
		margin-right: 35px;
		margin-top: 4px
	}

	&__title{
		font-family: $font-lora;
		@include font(normal, bold, 1.8rem, 1.2, $color-dark-blue);
	}
	
	.btn{
		min-width: 152px;
		margin-top: 50px;
	}
}

@media (max-width: 1279px) {
	.events{
		.events-list{padding-right: 0px;}
	}
}

@media (max-width: 991px) {
	.events-item{
		&:not(:last-child){margin-bottom: 60px;}
	}

	.events{
		.form-site-wrap{margin-top: 60px;}
	}

	.events-small-list{
		margin-left: -15px;
		margin-right: -15px;
	
		.events-small{
			width: calc(50% - 30px);
			margin-left: 15px;
			margin-right: 15px;
		}
	}

	.events-small{
		padding: 20px 30px 25px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

@media (max-width: 767px) {
	.events-item{
		&__top{padding: 20px 15px;}
		&__title{font-size: 1.8rem;}
		&__content{padding: 20px 15px 30px;}
	}

	.events-item{
		&:not(:last-child){margin-bottom: 40px;}
	}

	.events{
		.form-site-wrap{margin-top: 40px;}
	}

	.events-small-list{
		.events-small{width: calc(100% - 30px);}
	}
}