/*-------------- faq -----------------*/
.faq-wrap{
	margin-top: 77px;
	margin-bottom: 145px;

	h2, .h2{margin-bottom: 50px;}
}

.faq-page{
	.faq{
		&::after{display: none;}
		&__list-wrap{width: calc(37% - 110px);}
		&__main{width: 63%;}

		&__content{
			max-width: 100%;
			margin-top: 0;
		}
	}
}

.faq{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;

	&::after{
		content: '';
		display: inline-block;
		width: 264px;
		height: 246px;
		background: url(../img/msg.png) center no-repeat;
		position: absolute;
		top: 85%;
		left: 79%;
	}

	&__main &__head{display: none;}

	&__list-head{
		font-family: $font-lora;
		@include font(normal, bold, 2.4rem, 1.2, $color-dark-blue);
		padding: 40px;
	}

	&__list{
		width: calc(50% - 52px);
	}

	&__list-wrap{
		width: calc(35% - 52px);
		background: $color-light-grey;
		padding: 5px 0;
		border-radius: 5px;
	}

	&__list-wrap &__list{width: 100%;}

	&__main{width: 50%;}

	&__head{
		display: flex;
		align-items: center;
		min-height: 63px;
		background: $color-light-grey;
		padding: 5px 90px 8px 12px;
		position: relative;
		transition: all 0.2s ease 0s;
		cursor: pointer;
	}

	&__head:hover,
	&__item.active &__head{
		background: $color-grey;
	}

	&__item{position: relative;}

	&__item.active &__head::after{
		content: '';
		display: inline-block;
		width: 22px;
		height: 100%;
		background: $color-grey;
		clip-path: polygon(0 0, 100% 50%, 0 100%);
		position: absolute;
		top: 0;
		left: 100%;
	}

	&__icon{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 45px;
		margin-right: 20px;
	}

	&__title{
		@include font(normal, 500, 1.8rem, 1.2, $color-dark-blue);
	}

	&__item:not(:last-child){border-bottom: 1px solid #fff;}

	&__item:not(:last-child)::before{
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background: #cbcfd5;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 2;
	}

	&__arr{
		position: absolute;
		@include top-center;
		right: 70px;

		.icon{fill: $color-blue;}
	}

	&__content{
		display: none;
		max-width: 435px;
		margin-top: -5px;
		padding-bottom: 40px;
		font-size: 1.4rem;

		p:last-child{margin-bottom: 0;}
		h3{margin-bottom: 42px;}
	}

	&__item.active &__content{display: block;}

	&__btn{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 45px -10px 0;

		.btn{
			min-width: 210px;
			margin: 10px;
		}
	}
}

@media (max-width: 1279px) {
	.faq{
		&::after{
			left: auto;
			right: 0;
		}
	}

	.faq-page{
		.faq{
			&__list-wrap{width: calc(37% - 40px);}
		}
	}
}

@media (max-width: 991px) {
	.faq-wrap{margin-bottom: 80px;}

	.faq-page{
		.faq{
			&__list-wrap{display: none;}
			&__main{width: 100%;}

			&__content{
				padding-left: 30px;
				padding-right: 30px;
			}
		}
	}
	
	.faq{
		&__list,
		&__item.active &__head::after,
		&::after{
			display: none;
		}

		&__main{width: 100%;}
		&__main &__head{display: flex;}
		&__head{padding-right: 40px;}
		&__arr{right: 20px;}
		&__item.active &__arr{transform: translateY(-50%) rotate(90deg);}

		&__content{
			max-width: none;
			padding: 20px 0;
		}
	}
}

@media (max-width: 767px) {
	.faq-wrap{
		margin-top: 25px;
		margin-bottom: 55px;
	}

	.faq-page{
		.faq{
			&__content{
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
}