/*-------------- gallery -----------------*/
.gallery-wrap{
	& + .history{margin-top: 67px;}
}

.gallery{
	&__item{margin: 15px 0;}
}

@media (max-width: 480px) {
	.gallery{
		&__item{width: calc(100% - 30px);}
	}
	
}