/*-------------- history -----------------*/
.history-wrap{
	margin-top: 106px;
	margin-bottom: 110px;

	h2, .h2{margin-bottom: 38px;}
}

.history-comp{
	display: flex;
	margin: -35px -15px 0;

	&__item{
		width: calc(50% - 30px);
		margin: 0 15px;
		text-align: center;
	}

	&__img{
		max-width: 276px;
		margin: 0 auto 15px;
	}

	&__label{
		@include font(normal, bold, 2.4rem, 1.2, $color-dark-blue);
	}
}

.history-content{font-size: 1.4rem;}

@media (max-width: 991px) {
	.history-wrap{
		margin-top: 80px;
		margin-bottom: 80px;
	}
	
	.history-comp{margin-top: 50px;}
}

@media (max-width: 767px) {
	.history-wrap{
		margin-top: 55px;
		margin-bottom: 55px;
	}

	.history-comp{
		margin-top: 30px;
		margin-bottom: 50px;

		&__label{font-size: 2rem;}

		&__img{
			max-width: 140px;
			margin-bottom: 7px;
		}

		&__label{font-size: 1.3rem;}
	}

	.history-content{
		.btn{
			display: table;
			width: 100%;
			max-width: 340px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}