/*-------------- info-block -----------------*/
.info-block{
	margin-bottom: 125px;
	
	&__content{
		margin-top: -15px;
		font-size: 1.6rem;
	}
}

@media (max-width: 991px) {
	.info-block{margin-bottom: 80px;}
}

@media (max-width: 767px) {
	.info-block{
		margin-bottom: 50px;

		&__content{
			font-size: 1.4rem;
			margin-top: 0;
		}
	}
}