/*-------------- team -----------------*/
.team-wrap{
	padding: 55px 0 72px;
	margin-top: 110px;
	margin-bottom: 100px;
	position: relative;

	h2, .h2{margin-bottom: 65px;}
}

.team-staf-wrap{
	margin-top: 110px;
	position: relative;

	h2, .h2{margin-bottom: 65px;}

	.team-slider{
		padding: 0;

		.slider-next{right: -30px;}
		.slider-prev{left: -30px;}
	}
}

.team-slider{
	display: none;
	padding: 0 80px;

	&.slick-initialized{display: block;}
	
	&__item{
		text-align: center;
		padding: 0 15px;
	}

	&__img{
		display: block;
		height: 243px;
		width: 260px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		margin: 0 auto 23px;
		position: relative;
		left: 50%;
		transform: translateX(-50%)
	}

	&__name{
		@include font(normal, bold, 1.8rem, 1.3, $color-dark-blue);

		a{
			color: $color-dark-blue;
			text-decoration: none;
			transition: color 0.2s ease 0s;
		}

		a:hover{color: $color-turquoise;}
	}

	&__text{
		max-width: 190px;
		@include font(normal, 500, 1.4rem, 1.2, $color-dark-blue);
		margin: 13px auto 0;
	}

	.slider-prev,
	.slider-next{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 24px;
		height: 65px;
		border: 0;
		outline: 0;
		padding: 0;
		margin: 0;
		box-shadow: none;
		background: transparent;
		opacity: 0.3;
		transition: opacity 0.2s ease 0s;
		position: absolute;
		@include top-center;
		z-index: 2;
		cursor: pointer;

		&:hover{opacity: 1;}

		.icon{fill: $color-dark-blue;}
	}

	.slider-prev{left: 0;}
	.slider-next{right: 0;}
}

@media (max-width: 1279px) {
	.team-staf-wrap{
		.team-slider{
			.slider-next{right: -15px;}
			.slider-prev{left: -15px;}
		}
	}
}

@media (max-width: 991px) {
	.team-wrap{
		margin-top: 80px;
		margin-bottom: 80px;
	}
}

@media (max-width: 767px) {
	.team-wrap{
		margin-top: 55px;
		margin-bottom: 55px;
		padding: 35px 0 50px;

		h2, .h2{margin-bottom: 35px;}
	}

	.team-staf-wrap{
		margin-top: 60px;

		.team-slider{
			.slider-next{right: 0;}
			.slider-prev{left: 0;}

			&__img{
				margin-left: 0;
				margin-right: 0;
			}
		}
	}

	.team-slider{
		padding: 0 20px;
	}
}