/*-------------- type-list -----------------*/
.type-list-col{
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;

	ul{
		width: calc(50% - 30px);
		margin-left: 15px;
		margin-right: 15px;
	}
}

.type-list{
	&_col{
		column-count: 2;
		column-gap: 30px;
	}
}

.list-line{
	&,
	li{
		list-style: none;
	}

	li::before{
		content: '-';
		margin-right: 5px;
	}
}

.list-black{
	&,
	li{
		list-style: none;
	}

	li::before{
		content: '';
		display: inline-block;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background: $color-text;
		margin-right: 5px;
	}

	li{margin-bottom: 25px;}
	b{font-weight: 900;}
}

@media (max-width: 767px) {
	.type-list-col{
		margin-left: -10px;
		margin-right: -10px;
		flex-wrap: nowrap;
		overflow-x: auto;

		ul{
			min-width: 217px;
			border: 1px solid #dbe8f1;
			padding: 20px 16px;
			border-radius: 5px;
			margin-left: 10px;
			margin-right: 10px;
			position: relative;
		}

		ul:last-child::after{
			content: '';
			display: inline-block;
			width: 15px;
			height: 15px;
			position: absolute;
			top: 0;
			left: 100%;
		}
	}
}