/*-------------- type-list -----------------*/
.type-list{
	&_col{
		column-count: 2;
		column-gap: 30px;
	}
}

.list-line{
	&,
	li{
		list-style: none;
	}

	li::before{
		content: '-';
		margin-right: 5px;
	}
}