/*-------------- type-list -----------------*/
.type-list{
	&_col{
		column-count: 2;
		column-gap: 30px;
	}
}

.list-line{
	&,
	li{
		list-style: none;
	}

	li::before{
		content: '-';
		margin-right: 5px;
	}
}

.list-black{
	&,
	li{
		list-style: none;
	}

	li::before{
		content: '';
		display: inline-block;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background: $color-text;
		margin-right: 5px;
	}

	li{margin-bottom: 25px;}
	b{font-weight: 900;}
}