extends ../layout/main

block variables
	- var title = 'Содержание';
	- 
		var pagelist = [
			{href: 'main.html',name:'Главная'},
			{href: 'vacancy.html',name:'Вакансии'},
			{href: 'vacancy-detail.html',name:'Вакансии детальная'},
			{href: 'events.html',name:'Мероприятия'},
			{href: 'events-detail.html',name:'Мероприятия детальная'},
			{href: 'article-list.html',name:'Статьи'},
			{href: 'article.html',name:'Статья детальная'},
			{href: 'team.html',name:'Коллектив'},
			{href: 'team-detail.html',name:'Коллектив детальная'},
			{href: 'reviews.html',name:'Отзывы'},
			{href: 'video.html',name:'Видео'},
			{href: 'faq.html',name:'Вопросы и ответы'},
			{href: 'osteochondrosis.html',name:'Остеохондроз'},
			{href: 'diplomas.html',name:'Награды и дипломы'},
			{href: 'licenses.html',name:'Лицензии'},
			{href: 'tipografika.html',name:'Типографика'},
		];

block content
	section
		.container
			.row
				.col-12
					h1 содержание
					ul
						each page in pagelist
							li
								a(href=page.href, target="_blank")= page.name


