.footer{
	background: #253652;
	color: #fff;
}

.footer-main{
	padding: 40px 0;

	.logo{margin-bottom: 20px;}

	.choose-city{
		margin-bottom: 20px;
		&__label{color: #fff;}
	}

	&__phone,
	&__phone a{
		@include font(normal, 900, 2.2rem, 1.2, #fff);
		text-decoration: none;
		transition: color 0.2s ease 0s;
	}

	&__phone a:hover{color: $color-turquoise;}
	&__phone{margin-bottom: 7px;}

	&__call{
		margin-bottom: 20px;
		.btn{font-size: 1.4rem}
	}
}

.footer-address{
	max-width: 165px;
	@include font(normal, 500, 1.3rem, 1.2, #fff);

	&__link{margin-top: 10px;}
}

.footer-time{
	@include font(normal, 500, 1.3rem, 1.2, #fff);

	&__label{margin-bottom: 10px;}

	&__text{
		font-size: 1.2rem;
		color: #fff;
	}
}

.footer-menu-wrap{
	display: flex;
	margin-left: -15px;
	margin-right: -15px;
}

.footer-menu{
	&__list,
	&__item{
		margin: 0;
		padding: 0;
		list-style: none;
	}

	// &__list{
	// 	display: flex;
	// 	margin-left: -4px;
	// 	margin-right: -4px;
	// }

	&__item:not(:last-child){margin-bottom: 5px;}
	
	&__link{
		display: inline-block;
		height: 4rem;
		// min-width: 145px;
		background: rgba(255,255,255,0.1);
		border: 1px solid rgba(255,255,255,0.4);
		border-radius: 5px;
		@include font(normal, 500, 1.6rem, 3.8rem, #fff);
		text-align: center;
		text-decoration: none;
		padding: 0 20px;
		cursor: pointer;
		transition: all 0.25s ease 0s;
	}

	&__link:hover,
	&__item.active &__link{
		border-color: #fff;
		box-shadow: inset -7em 0 0 0 #fff, inset 7em 0 0 0 #fff;
		color: $color-dark-blue;
	}
}