header.header
	.container
		.row
			.col-12
				.header-top
					.logo
						a(href="/")
							img(src="assets/img/logo.png", alt="")

					.choose-city.js-add-mm(data-order="1")
						.choose-city__label Ваш город:

						select.js-select
							option(value="Зеленоград") Зеленоград
							option(value="Тверь") Тверь
							option(value="Дубна") Дубна
							option(value="Клин") Клин
							option(value="Фрязино") Фрязино
							option(value="Открытый центр") Открытый центр

					.header-address.js-add-mm(data-order="4") г. Зеленоград, корпус 118, правый вход с лица здания
						.header-address__link
							a(data-fancybox='', data-src='#popup-address', href='javascript:;') Как проехать?

					.header-time.js-add-mm(data-order="5")
						.header-time__label График работы:
						.header-time__text
							|Пн-Пт 9.00 - 21.00
							br
							|Сб 9.00 - 18.00
							br
							|Вс выходной

					.header-top__call.js-add-mm(data-order="6")
						.header-top__phone
							a(href="tel:+74997365684") +7 (499) 736-56-84

						a.btn.btn_green(data-fancybox='', data-src='#consult-form', href='javascript:;') Экспресс консультация

	.nav
		.container
			.row
				.col-12
					.nav__content
						nav.main-menu.js-add-mm(data-order="2")
							ul.main-menu__list
								-
									var list=[
										{text:'О центрах Морозова', status:'active'},
										{text:'Что лечим?'},
										{text:'Как лечим?'},
										{text:'Цены'},
									]

								each item in list
									li.main-menu__item(class=item.status?'active':'')
										a.main-menu__link(href="#")= item.text

						nav.top-menu.js-add-mm(data-order="3")
							ul.top-menu__list
								-
									var list=[
										{text:'Вопросы'},
										{text:'Видео'},
										{text:'Отзывы'},
									]

								each item in list
									li.top-menu__item(class=item.status?'active':'')
										a.top-menu__link(href="#")= item.text

	.header-mob.d-md-none
		.container
			.row
				.col-12
					.header-mob__content
						span.ic-hamburger.js-open-menu
							span

						.logo
							a(href="/")
								img(src="assets/img/logo.png", alt="")

						a.header-mob__call(data-fancybox='', data-src='#consult-form', href='javascript:;')
							+svg('ic-phone-bold','ic-phone-bold ic-stroke', '20', '20')

	.mobile-sidebar.js-mobile-sidebar.d-md-none
		span.ic-hamburger.active.js-close-menu
			span
		.mobile-sidebar__content.js-mobile-sidebar-content
